<mat-card *ngIf="blogpost as bp; else loading">
    <form [formGroup]="editForm" #formDirective="ngForm" (submit)="updateBlogpost(formDirective)">
        <div class="exemple-container">
            <mat-form-field>
                <input matInput placeholder="title" formControlName="title" [value]="bp.title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="sub-title" formControlName="subtitle" [value]="bp.subTitle">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="content" formControlName="content" [value]="bp.content"></textarea>
            </mat-form-field>
            <label for="image">Choose image</label>
            <input type="file" name="image" id="blogImage" > <!--[value]="bp.image"--> <!--This line causes errors-->
            <button type="button" mat-button (click)="upload()">upload image</button>
            <button type="submit" >Update blog post</button>
           
        </div>
    </form>
</mat-card>

<ng-template #loading>
    loading...
</ng-template>