<mat-card *ngIf="errorFromServer">
    {{ errorFromServer }} <br> {{loginFailMessage}}
</mat-card>

<mat-card>
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <mat-form-field>
            <input matInput type="text" placeholder="username" name="username" id="username" [(ngModel)]="user.username" required >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="password" name="password" id="password" [(ngModel)]="user.password" required >
        </mat-form-field>
        <button mat-button type="submit" [disabled]="!loginForm.form.valid">login</button>
    </form>
</mat-card>
